.reset {
    margin: 0;
    padding: 0;
}

header {
    height: 90px;
    background-color: aquamarine;
}

.all-container {
    margin: 5vh 5vw 5vh 0;
    display: flex;
}

.menu {
    padding: 0 20px;
    width: 25%;
    min-width: 170px;
}

.menu-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: bisque;
}

.menu-link p {
    margin: 30px 0 0;
    text-align: center;
    font-size: 140%;
    font-family: serif;
}

.menu-link li:first-child {
    margin: 20px 0;
    list-style-type: none;
    background-image:url(./img/yazirushi.webp);
    background-repeat: no-repeat;
    background-position: left center;
    filter: invert(100%) saturate(300%);
    color: white;
    padding-left: 40px;
}

.menu-link li {
    margin: 20px 0;
    list-style-type: none;
    background-image:url(./img/yazirushi.webp);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}

.menu-link li:hover {
    animation: rotate-arrow 2.5s forwards ease;
}

@keyframes rotate-arrow {
    0% {transform: rotateX(0deg);}
    40% {transform: rotateX(-60deg);}
    60% {transform: rotateX(420deg);}
    100% {transform: rotateX(360deg);}
}

.hover-system {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
    transform: scale(0);
}

.hover-system:hover .mask {
    transform: scale(1);
}

.caption {
    color: #fff;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-size: 180%;
    word-break: keep-all;
    text-align: center;
}

.hover-system+p {
    font-size: 50%;
    text-align: center;
}

.hover-system+p::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0d8";
    font-size: 200%;
    color: #000;
    margin-right: 5px;
}

main {
    width: 75%;
}

main > div {
    margin-left: 20px;
}

.news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;
}

.color {
    padding-left: 10px;
}

.color:nth-child(1) {
    background-color: #e5faec;
}

.color:nth-child(2) {
    background-color: #faf6e4;
}

.news-de {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*
.button {
    color: #0000EE;
    text-decoration: underline;
} */

.button+div {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.button.active+div {
    opacity: 1;
    visibility: visible;
}

.fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00d";
    font-size: 200%;
    color: red;
}

.popup {
    position: fixed;
    padding: 15px;
    top: 10vh;
    left: 50%;
    max-height: 750px;
    translate: -50%;
    background-color: #def5ff;
    box-shadow: 10px 10px 15px -10px, 0px 7px 16px -6px, -10px 10px 15px -10px;
    border-radius: 5px;
    overflow: auto;
}